body{
    margin: 0;
    background-image: url(../img/damili8.jpg); 
    background-size: 100% auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.logo img{
    position: absolute;
    left: 0;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    align-content: end;
    border-radius: 950px;
    display: flex;
}

.navbar{
    position: sticky;
    top: 0;
    width: 96%;
    display: flex;
    margin-top: 0;
    padding: 40px;
    padding-right: 50px; 
    justify-content: center;
    align-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: grey;
}

.navbar ul li a {
    text-decoration: none;
    color:rgb(246, 248, 245);
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar ul li a:hover{
    background: rgb(189, 143, 143);
    color: rgb(244, 241, 241);
    padding: 10px 30px;
    border-radius: 15px;
    transform: translateY(-5px) ;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #694d44;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #866258 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
}
.product-section {
    padding: 20px;
    background: #8d8c8ccc;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.7);
    text-align: center;
}
.product-item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
    vertical-align: top;
}
.product-item img {
    width: 100%;
    height: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.product-item h3 {
    color: #091f38;
}

/* footer */

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #333;
}