body{
    margin: 0;
    background-image: url(/MTProject/img/damili8.jpg); 
    background-size: 100% auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.logo img{
    position: absolute;
    left: 0;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    align-content: end;
    border-radius: 950px;
    display: flex;
}

.navbar{
    position: sticky;
    top: 0;
    width: 96%;
    display: flex;
    margin-top: 0;
    padding: 40px;
    padding-right: 50px; 
    justify-content: center;
    align-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: grey;
}

.navbar ul li a {
    text-decoration: none;
    color:rgb(246, 248, 245);
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar ul li a:hover{
    background: rgb(189, 143, 143);
    color: rgb(244, 241, 241);
    padding: 10px 30px;
    border-radius: 15px;
    transform: translateY(-5px) ;
}

.hometown h1 {
    color: rgba(161, 62, 0, 0.995);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(58, 57, 57);
    font-size: 100px;
    text-align: center; 
    /* margin-bottom: -20px; */
    align-items: center;
    justify-content: space-between;
}

.hometown h2 {
    color: rgba(75, 62, 22, 0.995);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(58, 57, 57);
    font-size: 25px;
    text-align: center; 
    margin-bottom: -20px;
    line-height: 2;
    align-items: center;
    justify-content: space-between;
}

.logo{
    position: absolute;
    left: 0;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    align-content: end;
    border-radius: 50 px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}

.par {
    float: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    /* text-shadow: 2px 2px 2px black; */
    background: #8d8c8c9c;
    color: rgb(4, 4, 4);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70px;
    border-bottom: #65595567 3px solid;
    text-align: justify;
    text-indent: 50px;
}

.par h1 {
    color: rgba(161, 62, 0, 0.995);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-family: 'Times New Roman', Times, serif;
}

/* footer */

footer {
    position: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #333;
}